*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.botones-action{
    width: 4%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2);
    position: fixed;
    top: 0;
    left: 0;
}
.botones-action button{
    padding: 10px;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    margin: 10px 0;
}
.container{
    margin: auto;
    width: 85%;
}
.buscador{padding: 20px 0;}
.buscador input[type=text]{
    width: 48%;
    height: 35px;
    border: 1px solid #ccc;
    outline: none;
    padding: 0 0 0 8px;
}
.container .employes, .container .categorias{
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2);
}
.container .employes{float: left; width: 60%; margin-top: 20px;}
.container .categorias{float: left;width: 35%; margin-top: 20px; margin-left: 50px;}
.container .employes table, .container .categorias table{
    width: 100%;
    border-collapse: collapse;
}
table{border-collapse: collapse;}
table thead tr th{padding: 10px; text-align: left;}
table tbody tr td{padding: 10px; text-align: left;
    border-top: 1px solid #ccc;    
    border-bottom: 1px solid #ccc;
}
table tbody tr:hover{
    background-color: rgba(0, 0, 0,0.03);
}
table tbody tr td button{
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}
.form-employes, .form-categoria{
    display: none;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.form-employes input[type=text], .form-categoria input[type=text] {
    width: 48%;
    height: 35px;
    border: 1px solid #ccc;
    margin: 5px 0;
    outline: none;
    padding: 0 0 0 8px;
}
.form-employes select{
    width: 48%;
    height: 35px;
    border: 1px solid #ccc;
    margin: 5px 0;
    outline: none;
}
.form-employes label{display: block;}
.form-employes button, .form-categoria button {
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
/*     ESTILOS DE EDITOR    */
nav{background-color: #f1c40f; box-shadow: 0 4px 8px 0 #ccc;}
a{text-decoration: none;}
ul{list-style-type: none;}
.brand-logo{
    margin-right: 55%;
    width: 300px;
    height: 50px;
}
.brand-logo img{max-width: 100%; margin-top: -45px;}
.nav-banner{display: flex; padding: 15px 0;}
.nav-banner ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-banner ul a{padding: 10px 15px;}
.notas-add{
    float: left;
    width: 48%;
}
.notas-remove{
    float: right;
    width: 48%;
}
.notas-add button, .notas-remove button{
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

/*     ESTILOS DE EMPLEADO    */
.buscador-all{padding: 30px;}
.buscador-all input[type=text]{
    width: 48%;
    height: 35px;
    border: 1px solid #ccc;
    margin: 5px 0;
    outline: none;
    padding: 0 0 0 8px;
}
.buscador-all select{
    width: 20%;
    height: 35px;
    border: 1px solid #ccc;
    margin: 5px 0;
    outline: none;
}
.buscador-all button{
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
}
.modal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 800ms ease;
}
.content-modal{
    margin: auto;
    width: 50%;
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.3);
}
.detalles-modal-periodico{
    margin: auto;
    width: 50%;
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.3);
}
.content-modal input[type=text]{
    width: 99%;
    height: 35px;
    border: 1px solid #ccc;
    margin: 5px 0;
    outline: none;
    padding: 0 0 0 8px;
}
.content-modal select{
    width: 49%;
    height: 35px;
    border: 1px solid #ccc;
    margin: 5px 0;
    outline: none;
}
.content-modal textarea{
    width: 99%;
    height: 380px;
    outline: none;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
}
.content-modal button:last-child{
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
}
.close-modal{
    float: right;
    padding: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

/*     ESTILOS DE VISTA DE NOTICIVAS     */
.content-img{
    margin-top: 30px;
    line-height: 200px;
    text-align: center;
}
img{width: 100%; max-width: 100%; vertical-align: middle;}
.nota h1{margin: 12px 0;}
.nota h3{margin: 12px 0;}
.nota span{
    display: block;
    text-align: right;
    font-size: 1.3rem;
    margin-bottom: 10px;
}
#content-descripcion p{
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 50px;
}
#content-descripcion textarea{
    min-width: 100%;
    min-height: 1500px;
    resize: none;
    border: none;
    outline: none;
    background-color: white;
    font-size: 2rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
/*     ESTILOS DE SESION      */
.formulario-login{
    margin: auto;
    width: 30%;
    margin-top: 40px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,0.2);
}

.formulario-login input[type=text],
.formulario-login input[type=password]{
    width: 99%;
    height: 35px;
    border: 1px solid #ccc;
    margin: 5px 0;
    outline: none;
    padding: 0 0 0 8px;
}
.formulario-login button{
    width: 100%;
    padding: 10px 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
}